<a href="https://colab.research.google.com/github/swatigohite/Data-Science/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
mydataset = {
    'cars': ["BMW","Volvo","Ford"],
    'passings': [3,7,2]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd
data = {
    "calories": [420, 350, 390],
    "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       350        40
2       390        45

In [ ]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a, index = ["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
import pandas as pd
data = {
    "calories": [420, 350, 390],
    "duration": [50, 40, 45]
}
# myvar = pd.DataFrame(data)
# print(myvar)
# print(myvar.loc[0])
# print(myvar.loc[[0, 1]])
myvar = pd.DataFrame(data, index = ["day1","day2","day3"])
print(myvar)

      calories  duration
day1       420        50
day2       350        40
day3       390        45

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/csv files/data.csv')
print(df)

  Unnamed: 0  calories  duration
0       day1       420        50
1       day2       380        40
2       day3       390        45
3       day4       123        78
4       day5       456        45
5       day6       536        53
6       day7       864        72
7       day8       356        43

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/csv files/data.csv')
print(df.to_string())

  Unnamed: 0  calories  duration
0       day1       420        50
1       day2       380        40
2       day3       390        45
3       day4       123        78
4       day5       456        45
5       day6       536        53
6       day7       864        72
7       day8       356        43

In [ ]:
import pandas as pd
pd.options.display.max_rows = 9999
df = pd.read_csv('/content/drive/MyDrive/csv files/data.csv')
print(df)

  Unnamed: 0  calories  duration
0       day1       420        50
1       day2       380        40
2       day3       390        45
3       day4       123        78
4       day5       456        45
5       day6       536        53
6       day7       864        72
7       day8       356        43

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/csv files/data.csv')
print(df.head(5))
print(df.tail())
print(df.info())

  Unnamed: 0  calories  duration
0       day1       420        50
1       day2       380        40
2       day3       390        45
3       day4       123        78
4       day5       456        45
  Unnamed: 0  calories  duration
3       day4       123        78
4       day5       456        45
5       day6       536        53
6       day7       864        72
7       day8       356        43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8 non-null      object
 1   calories    8 non-null      int64
 2   duration    8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes
None

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/csv files/data.csv')
new_df = df.dropna()
print(new_df.to_string())

  Unnamed: 0  calories  duration
0       day1       420        50
1       day2       380        40
2       day3       390        45
3       day4       123        78
4       day5       456        45
5       day6       536        53
6       day7       864        72
7       day8       356        43

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/csv files/data.csv')
df.dropna(inplace = True)
print(df.to_string())

  Unnamed: 0  calories  duration
0       day1       420        50
1       day2       380        40
2       day3       390        45
3       day4       123        78
4       day5       456        45
5       day6       536        53
6       day7       864        72
7       day8       356        43

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/csv files/data.csv')
df["calories"].fillna(130, inplace =  True)

**Exercise**(**pandas**)

In [ ]:
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86],'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['anastasia','dima','katherine','james','emily','michael','matthew','laura','kevin','jonas'],
           'score':[12.5,9,16.5,np.nan,9.20,14,5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index = labels)
print(df)

        name  score  attempts qualify
a  anastasia   12.5         1     yes
b       dima    9.0         3      no
c  katherine   16.5         2     yes
d      james    NaN         3      no
e      emily    9.2         2      no
f    michael   14.0         3     yes
g    matthew    5.0         1     yes
h      laura    NaN         1      no
i      kevin    8.0         2      no
j      jonas   19.0         1     yes

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['anastasia','dima','katherine','james','emily','michael','matthew','laura','kevin','jonas'],
           'score':[12.5,9,16.5,np.nan,9.20,14,5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index = labels)
print("first 3 rows: ")
print(df.iloc[:3])
print(df.iloc[0:5])
print(df.iloc[4:])

first 3 rows:
        name  score  attempts qualify
a  anastasia   12.5         1     yes
b       dima    9.0         3      no
c  katherine   16.5         2     yes
        name  score  attempts qualify
a  anastasia   12.5         1     yes
b       dima    9.0         3      no
c  katherine   16.5         2     yes
d      james    NaN         3      no
e      emily    9.2         2      no
      name  score  attempts qualify
e    emily    9.2         2      no
f  michael   14.0         3     yes
g  matthew    5.0         1     yes
h    laura    NaN         1      no
i    kevin    8.0         2      no
j    jonas   19.0         1     yes

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['anastasia','dima','katherine','james','emily','michael','matthew','laura','kevin','jonas'],
           'score':[12.5,9,16.5,np.nan,9.20,14,5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index = labels)
print("select name and score column")
print(df[['name','score']])

select name and score column
        name  score
a  anastasia   12.5
b       dima    9.0
c  katherine   16.5
d      james    NaN
e      emily    9.2
f    michael   14.0
g    matthew    5.0
h      laura    NaN
i      kevin    8.0
j      jonas   19.0

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['anastasia','dima','katherine','james','emily','michael','matthew','laura','kevin','jonas'],
           'score':[12.5,9,16.5,np.nan,9.20,14,5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index = labels)
print("the no. of attempts in the exam is greater than 2")
print(df[df['attempts']> 2])

the no. of attempts in the exam is greater than 2
      name  score  attempts qualify
b     dima    9.0         3      no
d    james    NaN         3      no
f  michael   14.0         3     yes

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['anastasia','dima','katherine','james','emily','michael','matthew','laura','kevin','jonas'],
           'score':[12.5,9,16.5,np.nan,9.20,14,5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index = labels)
print("the rows where the score is missing")
print(df[df['score'].isnull()])

the rows where the score is missing
    name  score  attempts qualify
d  james    NaN         3      no
h  laura    NaN         1      no

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['anastasia','dima','katherine','james','emily','michael','matthew','laura','kevin','jonas'],
           'score':[12.5,9,16.5,np.nan,9.20,14,5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index = labels)
print("mean of the score is")
print(df['score'].mean())

mean of the score is
11.65

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("1st DataFrames:")
print(student_data1)
print("2nd DataFrames:")
print(student_data2)
print("\nJoin the 1st and 2nd dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

1st DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
2nd DataFrames:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the 1st and 2nd dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("1st DataFrames:")
print(student_data1)
print("2nd DataFrames:")
print(student_data2)
print("\nJoin the 1st and 2nd dataframes along columns:")
result_data = pd.concat([student_data1, student_data2], axis = 1)
print(result_data)

1st DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
2nd DataFrames:
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the 1st and 2nd dataframes along columns:
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

S6 = pd.Series(['S6','scarlette fisher',234], index = ['student_id', 'name','marks'])
print("Old dataframe")
print(student_data1)
print("New row")
print(S6)
combined_data = student_data1.append(S6,ignore_index = True)
print("New dataframe:")
print(combined_data)

Old dataframe
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
New row
student_id                  S6
name          scarlette fisher
marks                      234
dtype: object
New dataframe:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  scarlette fisher    234

<ipython-input-27-a6fffbe052c3>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = student_data1.append(S6,ignore_index = True)

In [ ]:
import pandas as pd
world_alcohol_consumption = pd.read_csv('/content/drive/MyDrive/csv files/alcohol.csv')
print("World alcohol consumption sample data:")
print(world_alcohol_consumption.head())
print("Shape od the dataframe: ",world_alcohol_consumption.shape)
print("no. of rows: ",world_alcohol_consumption.shape[0])
print("no, of column: ",world_alcohol_consumption.shape[1])
print("column names :")
print(world_alcohol_consumption.columns)

World alcohol consumption sample data:
   Year       WHO region               Country   Beverage  Types  Display  \
0  1986  Western pacific               viet nam       NaN   wine      NaN
1  1986         Americas                uraguay       NaN  other      NaN
2  1985           Africa           cte d'ivoire       NaN   wine      NaN
3  1986         Americas               colombia       NaN   beer      NaN
4  1987         Americas  saint kitts and nevis       NaN   beer      NaN

    Value
0    0.00
1    0.50
2    1.62
3    4.27
4    1.98
Shape od the dataframe:  (5, 7)
no. of rows:  5
no, of column:  7
column names :
Index(['Year', 'WHO region', 'Country ', 'Beverage', 'Types', 'Display',
       ' Value'],
      dtype='object')